.experience-block {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1.5px dashed var(--text-color);
}

.experience-block:last-child {
  border-bottom: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.technology-row{
  display: flex;
  align-items: center;
  line-height: 1.7rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .technology-row{
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  }
  .experience-header {
    margin: 0 0 2rem;
  }
}

.experience-list {
  margin-top: 0.5rem;
}

.see-more-button {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 1rem;
  
}
.see-more-button > svg{
  margin-left: 0.5rem;
}


.date-range {
  margin: 0;
  font-size: 1.17em;
  font-weight: bold;
}

.technology-label {
  font-size: 1.17em;
}