.avatar-container {
  width: calc(980px / 5);
  height: calc(2204px / 5);
  position: relative;
  margin-bottom: 2rem;
  transform: translateX(-8px);
}

@media screen and (max-width: 768px) {
  .avatar-container {
    margin: 0 auto 2rem;
    transform: translateX(0px);
  }
  .no-text-align{
    text-align: left;
  }
}

.email-me-link {
  margin-bottom: 1.5rem;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
