@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

body {
  font-family: 'Inter';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: url("./media/cursor.png") 24 24, default;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) } 
  100% { transform: rotate(  0.0deg) }
}



.no-underline{
  text-decoration: none;
  color: rgb(50, 175, 233);
}

.video{
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  border-radius: 2rem;
  border: none;
  box-shadow:  20px 20px 60px #bdc9c9, 
  -20px -20px 60px #ffffff;
}

.video-mobile{
  position: absolute;
  top: 0;
  left: 14%;
  width: 70%;
  height: 90%;
  border-radius: 2rem;
  border: none;
  box-shadow:  20px 20px 60px #bdc9c9, 
  -20px -20px 60px #ffffff;
}

.video-container-mobile {
  position: relative;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  margin-top: 1rem;
}
.video-container-desktop{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  justify-self: center;
  align-self: center;
}
